@(title: String, message: String)(implicit request: RequestHeader, flash: Flash, webJarsUtil: org.webjars.play.WebJarsUtil)

@main(title) {
    <div class="row">
        @* React *@
        <div class="col-sm-10" id="app"></div>
        @* Scala.js *@
        @scalajs.html.scripts(
            projectName = "client",
            assets = name => routes.Assets.versioned(name).toString,
            resourceExists = name => getClass.getResource(s"/public/$name") != null
        )
        <div class="col-sm-2">
            <a href="/td_get_account"><button type="button" class="btn btn-primary">アカウント情報取得(テスト用)</button></a>
        </div>
    </div>
    <script>
        window.onload = function(){
            // 10分おき
            setInterval("gettask()", 1000 * 60 * 10);
        }

        function gettask() {
            // window.location.href = '/td_get_tasks';
            window.location.reload(true)
        }
    </script>
}
