@(title: String)(implicit webJarsUtil: org.webjars.play.WebJarsUtil)

@main(title) {
    @* jumbotron *@
    <div class="jumbotron mt-4">
        <div class="row">
            <div class="col-sm">
                <h1 class="display-4">こんにちは!</h1>
                <p class="lead">これは単純なヒーローユニット、注目のコンテンツや情報に特別な注意を喚起するためのシンプルなジャンボトロンスタイルのコンポーネント。</p>
                <hr class="my-4">
                <p>より大きなコンテナの範囲内でコンテンツに空間をあけるため、文字の体裁と空白用のユーティリティクラスを使用している。</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <a href="/td_authorize"><button type="button" class="btn btn-primary">Toodledoでログイン</button></a>
            </div>
        </div>
    </div>
}
