@(title: String)(content: Html)(implicit webJarsUtil: org.webjars.play.WebJarsUtil)

<!DOCTYPE html>

<html>
  <head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    @webJarsUtil.locate("bootstrap.min.css").css()
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
  </head>
  <body>
    <div class="container">
      <div class="row">
        @content
      </div>
    </div>
    @webJarsUtil.locate("bootstrap.min.js").script()
  </body>
</html>
